@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.header-image {
  max-width: 500px;
  width: 100%;
  margin: 0 16px 0 16px;
}

.header-image img {
  width: 100%;
}

h1,h2,h3,h4,h5,p {
  font-family: 'Open Sans';
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  padding: 64px 16px 64px 16px;
}


.highlight {
  background-color: #ffff507d;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #8C9AFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2a2d41;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
